body {
  background: url("../img/background.jpg") fixed center;
  /*background-size:  110%;*/
}

a {
  font-weight: 500;
  font-size: 24px;
  color: #4D5F48;
}

a:hover {
  color: #550F07;

}

.col-md-12 {
  border-radius: 5px;
  background-color: rgba( 255, 237, 229, 0.5);
  padding-bottom: 30px;
}

.item {
  border: 1px solid black;
  border-radius: 5px;
  height: 200px;

  padding: 10px;
  /*padding-top: 8px;*/
  background-color: rgba( 255, 237, 229, 0.8);
}

.thumbnail {
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: 100%;
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.lot-id{
  font-size: 18px;
}
