<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'auctions'}}Auctions Home{{/link-to}}</li>
    </ul>
  </nav>
  <div class="col-md-12">
    <!-- <div class="wrapper"> -->
      {{outlet}}
    <!-- </div> -->
  </div>

</div>
