<h1>New Lot</h1>

<form>
  <div class="form-group">
    <label for="description">Lot Description</label>
    {{input value=description id="description" class="form-control"}}
  </div>
  <div class="form-inline">
    <div class="form-group">
    <label for="starting-bid">Starting Bid</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
          {{input type="number" min="1" step="1" value=starting-bid id="starting-bid" class="form-control"}}
        <div class="input-group-addon">.00</div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" {{action 'save'}}>Save</button>
</form>
